{%extends "base.html" %}
{% load thumbnail %}
{%block content%}
		<div class="span2">
			{%if firefighter.picture%}
				{% thumbnail firefighter.picture "100x100" crop="center" format="PNG"   as im %}
					<img width="{{im.width}}" height="{{im.height}}" src='{{im.url}}'></img>
				{% endthumbnail %}
			{%endif%}
		</div>
		<div class="span6">
		<h1>
			{{firefighter.current_rank}} {{firefighter.first_name}} {{firefighter.first_name_2}} {{firefighter.last_name}} {{firefighter.last_name_2}}
		</h1>
		{%if firefighter.initials %}<h2>{{firefighter.initials}} #{{firefighter.number}} </h2>{%endif%}
		</div>
	</div>
	<div class="span5">
		<h3>Datos Básicos</h3>
		<ul class="unstyled">
			<li>Cedula: <strong>{{firefighter.id_document|default_if_none:"" }}</strong></li>
			<li>Fecha de Nacimiento: <strong>{{firefighter.birth_date|default_if_none:"" }}</strong></li>
			<li>Sexo: <strong>{{firefighter.gender|default_if_none:"" }}</strong></li>
			{%if firefighter.blood_type and firefighter.blood_type_rh%}<li>Sangre: <strong>Factor {{firefighter.blood_type}} Rh {{firefighter.blood_type_rh}}</strong></li>{%endif%}
		</ul>
		
	</div>
	<div class="span5">
		<h3>Datos de Contacto:</h3>
		<ul class="unstyled">
			{%for phone in firefighter.persontelephonenumber_set.all %}
				<li>{{phone}}</li>
			{%endfor%}
			
			<li>Email: {{firefighter.primary_email}}</li>
			<li>Email: {{firefighter.alternate_email}}</li>
		</ul>
	</div>
</div>
{%endblock%}
