{%extends "base.html" %}

{% block top_menu %}
{% endblock %}
{% block left_menu %}
{% endblock %}

{% block content %}

	<div class="login" style="height: 300px;">
		{% if form.errors %}
			<div class="error">Usuario y/o Contraseña incorrectos</div>
		{% endif %}
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
				<div class="row span6">
					<div class="span2">
						Nombre de Usuario:
					</div>
					<div class="span3 ">
						{{ form.username }}
					</div>
				</div>
				<div class="row span6">
					<div class="span2">
						Contraseña:
					</div>
					<div class="span3">
						{{ form.password }}
					</div>
				</div>
				<div class="row span6"> 
					<div class="span1">
						<input type="submit" value="Entrar" />						
					</div>
				</div>

		</form>
	</div>

{% endblock %}
