{%extends "base_website.html" %}
{% load thumbnail %}
{% block content %}
  	<div class="row">
  		<div class="span3" >
			
			<div id="cursos">
				<h2>Cursos</h2>
				<p>
					Ofrecemos los siguientes cursos a empresas que los requieran:
				</p>
				<div class="" id="accordion_cursos">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_cursos" href="#collapseOne"> Primeros Auxilios </a>
						</div>
						<div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								<p>
									En este curso aprenderás todo lo que necesitas saber para iniciar la atención primaria de una emergencia médica y mantenerla hasta la llegada de ayuda especializada.
								</p> 
							</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_cursos" href="#collapseTwo">Uso y Manejo de Extintores </a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse in ">
							<div class="accordion-inner">
								<p>
									Al finalizar este curso teorico-práctico los participantes podrán identificar los principales fenómenos que ocurren en un incendio; identificar situaciones en las cuales sea posible el uso de un extintor y demostrar el uso correcto del extintor. 
								</p>
							</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_cursos" href="#collapseThree"> Materiales Peligrosos Nivel Advertencia </a>
						</div>
						<div id="collapseThree" class="accordion-body collapse in">
							<div class="accordion-inner">
								<p>
									Al finalizar el curso los participantes podrán identificar aquellas situaciones donde estén presentes materiales peligrosos, empleando para ello los pictogramas ONU/DOT, carteles NFPA 704, el HMIS, y las hojas de datos de seguridad de materiales, para su manejo adecuado y reacción oportuna frente a una emergencia. 
								</p>
							</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_cursos" href="#collapseFour"> Brigadas de Desalojo </a>
						</div>
						<div id="collapseFour" class="accordion-body collapse in">
							<div class="accordion-inner">
								<p>
									Al Finalizar el Curso el participante estará en la capacidad de conocer las técnicas para el desalojo de edificaciones y espacios físicos, como parte del control de emergencias
								</p>
							</div>
						</div>
					</div>
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_cursos" href="#collapseFive">Curso Básico de la LOPCYMAT</a>
						</div>
						<div id="collapseFive" class="accordion-body collapse in">
							<div class="accordion-inner">
								<p>
									Al Finalizar el Curso el participante estará en la capacidad de explicar los aspectos principales de la  Ley Orgánica de Prevención, Condiciones y Medio Ambiente de Trabajo como principal instrumento para la aplicación de condiciones de seguridad y salud laboral en cualquier área de trabajo 
								</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<a class="twitter-timeline" href="https://twitter.com/BomberosUSB" data-widget-id="311599991057682432">Tweets by @BomberosUSB</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  		</div>
		<div class="span9">
			<div id="myCarousel" class="carousel" >
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="item active">
					<img src="{{STATIC_URL}}img/carr_04.jpg" alt="">
					<div class="carousel-caption">
						<h4>Somos una organización voluntaria</h4>
						<p>
							Que atiende servicios de incendio, atención médica de emergencia, rescate y procedimientos con materiales peligrosos en la Universidad Simón Bolívar y las zonas aledañas.
						</p>
					</div>
				</div>
				<div class="item ">
					<img src="{{STATIC_URL}}img/carr_02.jpg" alt="">
					<div class="carousel-caption">
						<h4>Integrada por estudiantes, profesores y personal administrativo</h4>
						<p>
							Fue fundado en 1993 a raiz de un incendio de vegetación de gran magnitud en el bosque de pinos de la Universidad Simón Bolívar.
						</p>
					</div>
				</div>
				<div class="item ">
					<img src="{{STATIC_URL}}img/carr_03.jpg" alt="">
					<div class="carousel-caption">
						<h4>Además de atender emergencias</h4>
						<p>
							Capacitamos a la comunidad universitaria y comunidades aledañas a la Universidad en Primeros Auxilios, Uso y Manejo de Extintores, Trabajo en Altura, entre otros. 
						</p>
					</div>
				</div>	
			  </div>
  					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			<h2>Conócenos:</h2>
			<div>
				{%for ff in ff_sample%}
					{% thumbnail ff.profile_picture "70x70" crop="bottom"  format="PNG"   as im %}
						<div class="span1 ff_picture"><img  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}"  /><p>{{ff}}</p></div>
					{% endthumbnail %}
				{%endfor%}
			</div>
			
		</div>
  	</div>
{%endblock%}
 {% block scripts%}
	 {{ block.super }}
	 {% block extra_scripts%}
	    <script src="{{STATIC_URL}}js/libs/plugins.js"></script>
	    <script src="{{STATIC_URL}}js/libs/bootstrap-transition.js"></script>
	    <script src="{{STATIC_URL}}js/libs/bootstrap-carousel.js"></script>
	    <script src="{{STATIC_URL}}js/libs/bootstrap-collapse.js"></script>
	    		
	  	<script>
		   $(document).ready(function(){
			   	$('.carousel').carousel();
			   	
			   $(".collapse").collapse({parent:"#accordion_cursos"});
		   		if($(window).width() < 800){
		   			$("div.fb-like").attr('data-width', $(window).width()*0.6);
		   		}
		   		
			   (function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			   
			   var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'XXXXXXXXXx']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		   
		   });
		  </script>
	  {%endblock%}
	{%endblock%}